<div *ngIf="selectDay$ | async as day">
    <h4 class="mb-3">Reminder of day {{listDays[day]}}</h4>
</div>

<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <div class="row g-3">
        <div class="col-12">
            <label for="text" class="form-label">Text</label>
            <input type="text" id="address" ngModel placeholder="max 30 chars" required name="text" class="form-control"/>
        </div>

        <div class="col-6">
            <h6>Color</h6>
    
            <div class="form-check" *ngFor="let color of colors">
                <input id="{{color}}" name="color" ngModel type="radio"  value="{{color}}" class="form-check-input" required>
                <label class="form-check-label" for="credit">
                    <span class="badge" [ngStyle]="{'background': color}">{{color}}</span>
                </label>
            </div>
        </div>

        <div class="col-5">
            <label for="hour" class="form-label">Hour</label>
            <select class="form-select" id="hour" name="hour" ngModel required>
                <option *ngFor="let hour of hours" value="{{hour}}">{{ hour | number:'2.0-0' }}</option>
            </select>
        </div>

        <div class="col-12">
            <label for="city" class="form-label">City</label>
            <input type="text" id="address" ngModel placeholder="Your city" required name="city" class="form-control" />
        </div>

    </div>
    

    <hr class="my-4">

    <div class="btn-group btn-group-lg w-100 px-2" role="group">
        <button type="button" [routerLink]="['/day']" class="btn btn-secondary">Back</button>
        <button type="button" (click)="clickOnDelete()" class="btn btn-danger">Delete</button>
        <button type="submit" class="btn btn-primary">Edit</button>
    </div>
</form>
