<h4 class="mb-3 text-center">{{month}}</h4>

<ol *ngIf="selectDay$ | async as day">
    <li class="py-2 bg-primary text-white text-center">Sun</li>
    <li class="py-2 bg-primary text-white text-center">Mon</li>
    <li class="py-2 bg-primary text-white text-center">Tue</li>
    <li class="py-2 bg-primary text-white text-center">Wen</li>
    <li class="py-2 bg-primary text-white text-center">Thu</li>
    <li class="py-2 bg-primary text-white text-center">Fri</li>
    <li class="py-2 bg-primary text-white text-center">Sat</li>

    <li 
        *ngFor="let item of listDays; index as i;"
        class="pt-1 ps-2 text pb-5 border-bottom border-end border-dark" 
        [ngClass]="{'bg-secondary text-white': i % 7 === 0 ||(i + 1) % 7 === 0, 'border-end-0': (i+1) % 7 === 0, 'bg-success text-light': day === i }"
        (click)="onClickDay(i)"
    > 
        {{ item }}
    </li>
</ol>
